{% load static %}
<script src="{% static 'home/js/jquery.min.js' %}"></script>
<script src="{% static 'home/js/popper.min.js' %}"></script>
<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
<script src="{% static 'home/js/metisMenu.min.js' %}"></script>
<script src="{% static 'home/js/owl-carousel.js' %}"></script>
<script src="{% static 'home/js/ion.rangeSlider.min.js' %}"></script>
<script src="{% static 'home/js/smoothproducts.js' %}"></script>
<script src="{% static 'home/js/jquery-rating.js' %}"></script>
<script src="{% static 'home/js/jQuery.style.switcher.js' %}"></script>
<script src="{% static 'home/js/custom.js' %}"></script>

<script>
    function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
    }
    function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
    }
</script>

<script>
    function openLeftMenu() {
        document.getElementById("leftMenu").style.display = "block";
    }
    function closeLeftMenu() {
        document.getElementById("leftMenu").style.display = "none";
    }
</script>

<script>
    function openFilterSearch() {
        document.getElementById("filter_search").style.display = "block";
    }
    function closeFilterSearch() {
        document.getElementById("filter_search").style.display = "none";
    }
</script>